body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3f3f3f;
    color:#fff;
}

.navbar {
    position: fixed;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    left: 0;
    width: 100%;
    background-color: #222222;
    padding: 10px 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 50px 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffcc00;
}

.content {
    margin-top: 50px;
    padding: 20px;
}
